body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}

/*

Style our app according to the provided design!

green color -> #5f9341

*/

input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #5f9341;
  margin-bottom: 4px;
}

button {
  background-color: #5f9341;
  color: white;
  padding: 10px 20px;
  border: 1px solid #5f9341;
  font-weight: bold;
}

/* STYLE THE LIST ACCORDING TO THE DESIGN */

#delete-btn {
  background-color: white;
  color: #5f9341;
}

ul {
  padding-left: 0;
  margin-top: 20px;
}

li {
  list-style: none;
  margin-top: 5px;
}

a {
  color: #5f9341;
}
